<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
<div th:fragment="sidebar" class="col-auto " id="side">
       <div>
        <a href="/" >
            <span class="mainmenu">Меню</span>
        </a>
        <ul class="menu" id="menu">
            <li class="nav-item">
                <a th:href="@{/}" class="menu">
                    <span>Главная</span>
                </a>
            </li>
            <li>
                <a th:href="@{/alcoholfree}"  class="menu">
                   <span>Безалкогольные напитки</span> </a>
            </li>
            <li>
                <a th:href="@{/alcohol}" class="menu">
                    <span>Алкогольные напитки</span></a>
            </li>
            <li>
                <a th:href="@{/coctails}" class="menu">
                    <span>Коктейли</span> </a>
            </li>
            <li>
                <a th:href="@{/marinades}"  class="menu">
                    <span>Маринады</span> </a>
            </li>
            <li>
                <a href="#food" data-bs-toggle="collapse" class="menu">
                    <span>Еда</span> </a>
                <ul class="collapse nav flex-column ms-1" id="food" data-bs-parent="#menu">
                    <li class="w-100">
                        <a th:href="@{/food}" class="submenu"> <span>Список блюд</span></a>
                    </li>
                    <li>
                        <a th:href="@{/quantity}" class="submenu"> <span>Калькулятор продуктов</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#users" data-bs-toggle="collapse" class="menu">
                     <span>Пользователи</span> </a>
                <ul class="collapse nav flex-column ms-1" id="users" data-bs-parent="#menu">
                    <li class="w-100">
                        <a th:href="@{/userList}" class="submenu"> <span>Список пользователей</span></a>
                    </li>
                    <li>
                        <a th:href="@{/login}" class="submenu"> <span>Вход</span></a>
                    </li>
                    <li>
                        <a th:href="@{/registration}" class="submenu"> <span>Регистрация</span></a>
                    </li>
                </ul>
            </li>
        </ul>
        <form th:action="@{/logout}" th:method="post">
            <button type="submit">Выход</button>
        </form>
    </div>
</div>
<div th:fragment="gallery" class="container mt-5 col py-3">
    <h1>Holiday Service приветствует!</h1>
        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img th:src="@{/img/отдых.jpg}"  style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img th:src="@{/img/закуски.jpg}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img th:src="@{/img/коктейли.jpg}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img th:src="@{/img/гриль.jpg}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img th:src="@{/img/овощи.jpg}" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img th:src="@{/img/сникерс.jpg}" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
                <img class="demo cursor" th:src="@{/img/отдых.jpg}" style="width:10%" onclick="currentSlide(1)" alt="Отдых">

                <img class="demo cursor" th:src="@{/img/закуски.jpg}" style="width:10%" onclick="currentSlide(2)" alt="Закуски">

                <img class="demo cursor" th:src="@{/img/коктейли.jpg}" style="width:10%" onclick="currentSlide(3)" alt="Коктейли">

                <img class="demo cursor" th:src="@{/img/гриль.jpg}" style="width:10%" onclick="currentSlide(4)" alt="Мясо на гриле">

                <img class="demo cursor" th:src="@{/img/овощи.jpg}" style="width:10%" onclick="currentSlide(5)" alt="Овощи на гриле">

                <img class="demo cursor" th:src="@{/img/сникерс.jpg}" style="width:10%" onclick="currentSlide(6)" alt="Сникерс">
            </div>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/calculator.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>