<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet"  th:href="@{/css/login.css}">
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
Добавить нового пользователя
<form th:action="@{/registration}" th:method="post" th:object="${user}">
    <div class="form-group files">
        <!-- вставляю id по примеру create-food , чтоб негласно сохранялся айдишник, он же автоинкремент , но кажется в форме
        registration в методе addUser чего-то не хватает для этого
        <input type="hidden" id="id" th:field="*{user_id}" >-->
    <div><label> User Name : <input type="text" name="username" th:field="*{username}"/> </label></div>
    <div><label> Password: <input type="password" name="password" th:field="*{password}"/> </label></div>
    <label>
        <select name="role">
            <option th:each="roleOpt : ${T(holidayservice.secutity.Role).values()}"
                    th:value="${roleOpt}" th:text="${roleOpt}"></option>
        </select>
    </label>
  <!--  <input type="hidden" th:value="*{_csrf.token}" name="_csrf">-->
    <div><input type="submit" value="Sign In"/></div>
        </div>
</form>
</body>
</html>